#flying-words {
    margin-top: 50px;
    height: 100px;
    overflow: hidden;
    position: relative;
}

#fly-text {
    font-size: 24px;
    position: absolute;
    animation: fly 2s linear infinite;
}

@keyframes fly {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}


body{
    background-image: url('image.html/good.webp');
}


#contact {
    position: relative;
    height: 100vh;
    color: white;
}

.background-image {
    background: url('your-image.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 50px;
}

h2 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    text-align: left;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}


.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
}

.skill-category {
    width: 45%;
    margin-bottom: 20px;
    color: white;
}

.skill-category h2 {
    color:white;
}

.skill-category ul {
    list-style-type: none;
    padding: 0;
    color: white;
}

.skill-category ul li {
    margin-bottom: 5px;
    color: white;
}

.skill-category ul li {
    margin-bottom: 5px;
}

#about {
    padding: 20px;
    margin: 20px;
    text-align: left;
}

.about-container {
    max-width: 800px;
    margin: 0 auto;
}

.about-container h2 {
    color: #333;
    margin-top: 20px;
}

.about-container p {
    margin: 10px 0;
}

.contact-info a {
    color: #007BFF;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.background{
    color: white;
}
.experience{
    color: white;
}

.intro{
    color: white;
}

.skills-interests{
    color: white;
}

.personal-story{
    color: white;
}

.contact-info{
   color: white; 
}


.image-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

#rotating-image {
    width: 100%;
    height: auto;
    border: 2px solid #000;
    animation: rotate 30s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}