#work-experience {
    padding: 20px;
    margin: 20px;
}

.experience-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left-align, .right-align {
    width: 45%;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills ul li {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: #f0f0f0; color: black;
    border-radius: 5px;
}

.project {
    margin: 20px 0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: left;
}

.project h2 {
    color: #333;
}

.project a {
    color: #1a73e8;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}
